@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="hero-unit" style="background-color:transparent; font-family:'Century Gothic';font:bold">
	    <h1>Welcome to Fund Grid</h1>
    </div><br />

    <div>

    </div>
</div>

<!--/row-->
@section scripts {
	<script>
		$(document).ready(function ()
		{
		    $('#Home').addClass('active');
		    busyViewModel.IsBusy(false);
		});
	</script>
}
