@model IEnumerable<FunGrid.Domain.Grid>

@{
    ViewBag.Title = "Archive";
}

<h2>Archive</h2>

<p>
    
</p>
<table>
    <tr>
        <th>
           Projects in the archive:
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Project
        </td>

        <td>
            @Html.ActionLink("Show", "ArchiveProject", new { id=item.Id })

        </td>
    </tr>
}

</table>
