@model Fundgrid.MVC.Models.CreateModel

@{
    ViewBag.Title = "Create";
}
<div>
    <div>
        <br />
        <h2 style="font-size:100px;font-family:'Century Gothic'">Create</h2><br /><br />
    </div><br />

    <div>
        <div>
            <div>
                <p>Project Name</p>
                <input type="text" data-bind="value: projectName"/>
                <br />

                <p>Project Description</p>
                <textarea data-bind="value: projectDescription"></textarea>
            </div><br />

            <button class="btn btn-primary" style="font-family:'Century Gothic'" data-bind="click: CreateProject">Create</button>
        </div><br />
        <div>
            <a href="#" class="btn btn-info" style="font-family:'Century Gothic'" data-bind="click: BackToTheList">Back to List</a>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var model = @(Html.Raw(Json.Encode(Model)))

        projectName = ko.observable();
        projectDescription = ko.observable();

        function CreateViewModel()
        {
            var self = this;
        }

        CreateProject = function ()
        {
            $.post("/Project/Create/", { name: projectName(), description: projectDescription() }, function () { BackToTheList(); });
        }

        BackToTheList = function ()
        {
            changeLocation("/Project/Index/");
        }

        ko.applyBindings(new CreateViewModel(), document.getElementById("bodyDiv"));

        $(document).ready(function ()
        {
            busyViewModel.IsBusy(false);
        });    
        
    </script>
}
