@model FunGrid.Domain.Project
<script src="~/Scripts/knockout-2.2.1.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>

@{
    ViewBag.Title = "Details";
}

    <h1>@Html.DisplayFor(model => model.Name)</h1>

    <fieldset>
        <legend>Description: @Html.DisplayFor(model => model.Description)</legend>
        <table>
            <tr>
                <th>Rows</th>
                <td><input id="GridRows" type="text" ></td>
            </tr>
            <tr>
                <th>Columns</th>
                <td><input id="GridColumns" type="text" ></td>
            </tr> 
            <tr>
                <td></td>
                <td>
                    <button type="button" onclick="CreateGrid()">Click Me!</button>
                </td>
            </tr>       
        </table>
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>



<script id="CreateGrid">
    $.post("/Project/CreateGrid/", { x: 1, y: 2, z: 3 }, function (response) { alert('What'); });
</script>
