@model FunGrid.Domain.Project
<script src="~/Scripts/knockout-2.2.1.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>



@{
    ViewBag.Title = "Details";
}

    <h1>@Html.DisplayFor(model => model.Name)</h1>

    <fieldset>
        <legend>Description: @Html.DisplayFor(model => model.Description)</legend>
                
        @if (Model.Grid == null)
        {
            <table>
            <tr>
                <th>Rows</th>
                <td><input id="GridRows" type="text" data-bind="value: row"></td>
            </tr>
            <tr>
                <th>Columns</th>
                <td><input id="GridColumns" type="text" data-bind="value: column"></td>
            </tr> 
            <tr>
                <th>Amount</th>
                <td><input id="GridItemAmount" type="text" data-bind="value: gridvalue"></td>
            </tr>
            <tr>
                <th>Incremental Value</th>
                <td><input id="GridItemIncrementalValue" type="text" data-bind="value: gridincrementalvalue"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="Create Grid" data-bind="click: CreateGrid" /></td>
            </tr> 
            </table>
        }
    
        @if (Model.Grid != null)
        {
         <p>Owner Name:</p>
        <input id="ownerInputTextbox" size="16" type="text"/>

        <table id="displayTabel2" border="1" class="grid" >

              <tbody data-bind="foreach: gridItemsRows">
                  
                  <tr data-bind="foreach: gridItemColumns">
                    @*<td data-bind="text:  $data, click: DoStuff, me:this"></td>*@
                      <td data-bind="disable: isdisable, text:  price, click: DoStuff, selectedGridItem:this, data: $data"></td>
                  </tr>
              </tbody>
          </table>
        }
        <input type="button" value="Delete" data-bind="click: DeleteGrid" />
        <p>@Html.ActionLink("Back to List", "Index")</p>
    </fieldset>
    

<script>
    
    var viewModel = @(Html.Raw(Json.Encode(Model)))

    
    
    GridItemViewModel = function()
    {
        var self = this;
        self.Id = ko.observable();
        self.Number = ko.observable();
        self.Owner = ko.observable();
        self.Amount = ko.observable();
        self.IsAvailable = ko.observable();
    };
    
    
    GridViewModel = function ()
    {
        var self = this;
        self.row = ko.observable(0);
        self.column = ko.observable(0);
        self.gridItems = ko.observableArray();
        self.gridvalue = ko.observable(0);
        self.gridincrementalvalue = ko.observable(0);
        
        if (viewModel.Grid != null)
        {
            var itemCount = viewModel.Grid.DimensionRows * viewModel.Grid.DimensionColumns;
            var ginitialvalue = viewModel.Grid.InitialValue;
            var gincrementvalue = viewModel.Grid.IncrementValue;

            self.gridItemsRows = ko.observableArray();
            //for (var i = 0; i < viewModel.Grid.DimensionRows; i++) {
            //    var gridItemColumns = ko.observableArray();
            //    for (var j = 0; j < viewModel.Grid.DimensionColumns; j++) {
            //        gridItemColumns.push(ginitialvalue + (gincrementvalue * (i * viewModel.Grid.DimensionRows + j)));
            //    }
            //    self.gridItemsRows.push({ gridItemColumns: gridItemColumns });
            //}

            for (var i = 0; i < viewModel.Grid.DimensionRows; i++) {
                var gridItemColumns = ko.observableArray();
                for (var j = 0; j < viewModel.Grid.DimensionColumns; j++) {
                    gridItemColumns.push({ price: viewModel.Grid.FullGridItems[i][j].Amount, count: viewModel.Grid.FullGridItems[i][j].Number, isdisable: viewModel.Grid.FullGridItems[i][j].IsAvailable });
                    }
                }
                self.gridItemsRows.push({ gridItemColumns: gridItemColumns });
            }
        }

        DoStuff = function (me)
        {
            alert(me);
        }

        CreateGrid = function ()
        {
            $.post("/Project/CreateGrid/", { projectId: viewModel.Id, gridDimensionRows: GridRows.value, gridDimensionColumns: GridColumns.value, gridValue: GridItemAmount.value, incrementValue: GridItemIncrementalValue.value }, function () { location.reload() });
        }

        BuyGridItem = function()
        {
            $.post("/Project/AddGridItem/", { gridId: viewModel.Grid.Id, gridItemNumber: this.Number, gridItemOwner: ownerInputTextbox.value, gridItemAmount: this.Amount }, function () { location.reload() });
            ownerInputTextbox.value = "";
        }

        DeleteGrid = function()
        {
            $.post("/Project/DeleteGrid/", { gridId: viewModel.Grid.Id },window.location.reload());
            
        }
    };
    
    ko.applyBindings(new GridViewModel());

</script>