@model FunGrid.Domain.Project
<script src="~/Scripts/knockout-2.2.1.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>

@{
    ViewBag.Title = "Details";
}

    <h1>@Html.DisplayFor(model => model.Name)</h1>

    <fieldset>
        <legend>Description: @Html.DisplayFor(model => model.Description)</legend>
        <table>
            <tr>
                <th>Rows</th>
                <td><input id="GridRows" type="text" data-bind="value: row"></td>
            </tr>
            <tr>
                <th>Columns</th>
                <td><input id="GridColumns" type="text" data-bind="value: column"></td>
            </tr> 
            <tr>
                <td></td>
                <td>
                     <input type="button" value="Create Grid" data-bind="click: CreateGrid" />
                </td>
            </tr>       
        </table>
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>



<script>
    var viewModel = @(Html.Raw(Json.Encode(Model)));

    GridViewModel = function ()
    {
        this.row = ko.observable(0);
        this.column = ko.observable(0);

        CreateGrid = function ()
        {

            $.post("/Project/CreateGrid", { x: viewModel.Id, y: this.row(), z: this.column() }, function (response) { alert('Grid successfully added'); });
        }
    }

    ko.applyBindings(new GridViewModel())
</script>