@model Fundgrid.MVC.Models.DonateProjectModel



@{
    ViewBag.Title = "Details";
}
<div class="page-header">
        <h1 style="font-size:70px;font-family:'Century Gothic'">DONATIONS</h1>
</div>  
<div style="font-family:'Century Gothic'">
    @if (Model.Grid == null)
    {
        <div class="page-header">
            <h2 style="font-size:40px">Sorry</h2>
        </div>
        
        <div style="font-size:18px">
            <p>There is no grid created for this project.</p>
            <p>Please return at a later time.</p>
        </div><br />
        
        <a href="#"  class="btn btn-info" data-bind="click: BackToTheList">Back to List</a>
    }

    
    @if (Model.Grid != null)
    {
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span7">
                    <div class="page-header" style="text-align:center">
                        <h2 data-bind="text: projectName"></h2>
                        <h3 data-bind="text: projectDescription"></h3>
                    </div>
                
                    <div class="page-header">
                        <p style="font-size:15px"><strong>You are currently viewing: </strong><span data-bind="text: gridName"></span></p>
                        <p style="font-size:15px"><span data-bind="text: gridDescription"></span></p> 
                    </div>      
            
                    

                    <table id="displayTabel2" border="0" class="grid" >
                        <tbody data-bind="foreach: gridItemsRows">
                            <tr data-bind="foreach: gridItemColumns">
                                <td><input type="button" style="width:100%" data-bind="disable: isdisabled, value:  price, click: OpenBuyModal, selectedGridItem:this, data: $data, style: {color: isdisabled == true ? 'lightgrey' : 'black' }, css: type"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <a href="#" class="btn btn-info" data-bind="click: BackToTheList">< Choose another project</a>
                </div>

                <div class="span5">
                    <blockquote>
                        <div>
                        
                                <h2 class="text-info">Instructions:</h2>
                                <p><small>Click on the value you want to donate.</small></p>    
                                <p><small>Enter your name in the owner name box.</small></p>
                                
                        
                        </div><br />

                        <div>                        
                                <p><small>Click on the 'Choose another project' button to return to make another donation.</small></p>
                        
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal hide fade" id="purchaseModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="vertical-align:middle">
    <div class="modal-header">
        <h3>Buy a grid</h3>
    </div>
    <div class="modal-body row-fluid">
        <div class="span6">
            <p><strong>Please complete the following:</strong></p>
            <p><strong>Owner Name:</strong></p>
            <input id="ownerInputTextbox" size="16" type="text"/>
        </div>
        <div class="span6">
            <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" width="200px" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" data-bind="click: BuyGridItem">Make PayPal payment</button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

@section scripts {
<script>

    var viewModel = @(Html.Raw(Json.Encode(Model)))
    
    projectName = ko.observable();
    projectDescription = ko.observable();
    gridName = ko.observable();
    gridDescription = ko.observable();

    if(viewModel.Grid)
    {
        projectName(viewModel.Name);
        projectDescription(viewModel.Description);
        gridName(viewModel.Grid.Name);
        gridDescription(viewModel.Grid.Description);
    }

    GridItemViewModel = function () {
        var self = this;
        self.Id = ko.observable();
        self.Number = ko.observable();
        self.Owner = ko.observable();
        self.Amount = ko.observable();
        self.IsAvailable = ko.observable();
    };

    GridViewModel = function () {
        var self = this;
        self.row = ko.observable(0);
        self.column = ko.observable(0);
        self.gridvalue = ko.observable(0);
        self.gridincrementalvalue = ko.observable(0);

        if (viewModel.Grid != null)
        {
            var btnType = "btn";
            self.gridItemsRows = ko.observableArray();
            for (var i = 0; i < viewModel.Grid.DimensionRows; i++)
            {
                var gridItemColumns = ko.observableArray();
                for (var j = 0; j < viewModel.Grid.DimensionColumns; j++)
                {
                    if (!viewModel.Grid.FullGridItems[i][j].IsAvailible)
                        btnType = "btn btn-success";
                    else
                        btnType = "btn";


                    gridItemColumns.push({ price: viewModel.Grid.FullGridItems[i][j].Amount, count: viewModel.Grid.FullGridItems[i][j].Number, isdisabled: !viewModel.Grid.FullGridItems[i][j].IsAvailible, type: btnType });
                }
                self.gridItemsRows.push({ gridItemColumns: gridItemColumns });
            }
        }

        var gridItem;
        OpenBuyModal = function (selectedGridItem)
        {
            gridItem = selectedGridItem;
            $('#purchaseModel').modal({ backdrop: 'static', show: true });
        }

        BuyGridItem = function (selectedGridItem)
        {
            $.post("/Project/AddGridItem/", { donateId: viewModel.Id, gridId: viewModel.Grid.Id, gridItemNumber: gridItem.count, gridItemOwner: ownerInputTextbox.value, gridItemAmount: gridItem.price },
            function (response) { handelResponse(response); });
        }
    };

    function handelResponse(response)
    {
        window.location.href = response;
    }

    BackToTheList = function () {
        changeLocation("/Project/Donate/");
    }

    ko.applyBindings(new GridViewModel(), document.getElementById("bodyDiv"));
    
	$(document).ready(function () {
        busyViewModel.IsBusy(false);
	});
</script>
}