@model Fundgrid.MVC.Models.DonateModel

@{
    ViewBag.Title = "Donate";
}

<h2>Donate</h2>

<p>
</p>

<table class="table table-condensed table-hover table-no-border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    
@foreach (var item in Model.ProjectModels)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @**@
        <td >
            <a href="#" class="btn btn-primary" data-bind="click: DonateProject">Donate</a>
            @Html.ActionLink("Donate", "DonateDetails", new { id=item.Id })
        </td>
    </tr>
}

</table>


@section scripts {
<script>
    $(document).ready(function () {
        busyViewModel.IsBusy(false);
    });
</script>
}
