@model Fundgrid.MVC.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    <div>
        <p>Name</p>
        <input type="text" data-bind="value: projectName"/><br />

        <p>Description</p>
        <textarea data-bind="value: projectDescription"></textarea><br />

        <button class="btn btn-primary" data-bind="click: EditProject">Save</button><br />

    </div><br />

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section scripts {
	<script>

	    var model = @(Html.Raw(Json.Encode(Model)))

        projectName = ko.observable(model.ProjectModel.Name);
	    projectDescription = ko.observable(model.ProjectModel.Description);

	    EditViewModel = function () { }

	    EditProject = function () {
	        $.post("/Project/Edit/", { id: model.ProjectModel.Id, name: projectName(), description: projectDescription() }, function () { document.location.reload(true) });
	    }

	    ko.applyBindings(new EditViewModel(), document.getElementById("bodyDiv"));

	    $(document).ready(function ()
	    {
	        busyViewModel.IsBusy(false);
	    });
	

@*    @Scripts.Render("~/bundles/jqueryval")*@
        </script>
}
